<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PalWorld_RCON_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PalWorld_RCON_GUI.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>172.0.0.1</value>
            </setting>
            <setting name="RconPort" serializeAs="String">
                <value>25575</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value />
            </setting>
        </PalWorld_RCON_GUI.Properties.Settings>
    </userSettings>
</configuration>